body{
    margin:0;
    padding:0px;
    width: 1200px;
    text-align:center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}

h1 { font-size: 32px;
}


p{
    font-size:100%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:20px;
}


button {
    width: 200px;
    height: 200px;
    text-align: center;
}

.buttons {
    display: table;
    text-align: center;
    font-size: 20px;
    margin: 0a;
}

button:hover{
    border: 3px solid #0066CC;

}

.center {
    text-align: center;
    display:  inline-block; 
}